doctype
html
	head
		title Jones Vintage Books - #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			a(href='/')
				h1.mast-head Jones Vintage Books
			.link-wrapper
				a(href='/products/new') Add Item (Manually)
				a(href='/products/new/isbn') Add Item (ISBN)
				a(href='/products/') View All Products
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p &copy; Copyright Jerry Jones and Oliver Jones 2016.